<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ps.testsdk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fareway.activity.SplashFw"/>

        <activity
            android:name="com.fareway.activity.MainFwActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_main_fw"
            android:screenOrientation="portrait"
            android:theme="@style/FarewayTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fareway.activity.LoginFw"
            android:theme="@style/FarewayMainTheme" />
        <activity
            android:name="com.fareway.activity.SavingFw"
            android:theme="@style/FarewayMainTheme" />
        <activity
            android:name="com.fareway.activity.WelcomeActivity"
            android:theme="@style/FarewayTheme.NoActionBar" />
        <activity
            android:name="com.fareway.activity.ShopperId"
            android:theme="@style/FarewayMainTheme" />
        <activity
            android:name="com.fareway.activity.PurchaseHistory"
            android:theme="@style/FarewayMainTheme" />
        <activity
            android:name="com.fareway.activity.PurchaseHistoryDetail"
            android:theme="@style/FarewayMainTheme" />
        <activity
            android:name="com.fareway.activity.ShoppingFw"
            android:theme="@style/FarewayMainTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>